<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Homepage</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new"><button id="add-btn">Add new message</button></a>

    <div class="card-container">
      <% messages.forEach(message => { %> <%- include('card', { message }) %> <%
      })%>
    </div>
  </body>
</html>
