<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message page</title>
  </head>
  <body>
    <h1>Message Page</h1>
    <p class="user">Name: <%= message.user %></p>
    <p class="text">Message: <%= message.text %></p>
    <p class="date">Added: <%= message.added %></p>
    <a href="/"><button id="back-btn">Back</button></a>
  </body>
</html>
